/* header */
header{
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-collapse{
  flex-grow: 0;
}

/* main */
main{
  height: 80%;
}
.carousel{
  height: 400px;
}
.carousel-inner{
  height: 400px;  
}
.carousel-item{
  height: 400px;  
}
.carousel-control-prev,
.carousel-control-prev-icon,
.carousel-control-next,
.carousel-control-next-icon{
  height: 400px; 
}
.carousel-item>img{
  object-fit: cover;
  height: 100%;
}
#div-1{
  width: 100%;
}
#div-2{
  width: 100%;
}
.input-group-text{
  background-color: white;
  border: none;
}


/* footer */
footer{  
  width: 100%;       
  position: fixed;
  bottom: 0; 
}


/* media queries */
@media only screen and (min-width: 768px){
  #div-1{
    width: 50%;
  }
  #div-2{
    width: 40%;
  }
  .categorias{
    flex-wrap: nowrap;
  }  
}

/* @media only screen and (min-width: 1024px){
  
} */